
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

.DS_Store
/build
/captures
.externalNativeBuild

.cxx
local.properties
/build
build/
app/build/
out/
bin/
*.apk
*.ap_
*.dex
.idea



*.iml


.idea/

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.idea/gradle.xml
.idea/libraries

*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
*.aab
*.apk
*.ap_
*.class
bin/
gen/
.gradle/
build/
local.properties
*.log
*.properties

